/* --- Reset CSS Start --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- Reset CSS End --- */

/* --- Font Import Start --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
/* --- Font Import End --- */

/* --- General CSS Start --- */
.page__bg{
    background-color: #F7F6FB;
    padding: 2.5rem 0 3rem 0;
}
.body__section{
    background-color: #ffffff;
    box-shadow: 0 0 1px #c7c7c7;
    border-radius: 10px;
}
/* --- General CSS End --- */

/* --- Header CSS Start --- */
.header__section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
}
.header__section li{
    margin-left: 40px;
    font-size: 16px;
    color: #666666;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.user__loginName{
    color: crimson !important;
    display: flex;
    align-items: center;
    position: relative;
}
.user__loginName--icon{
    color: #1f1e1e;
    margin-right: 5px;
}
.user__loginName::after{
    content: "";
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #1f1e1e;
    left: -20px;
}
/* --- Header CSS End --- */


/* --- Hero Area CSS Start --- */
.heroArea__bannerSection{
    position: relative;
}
.heroArea__bannerSection--img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 260px;
    object-fit: cover;
}
.heroArea__overlay{
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 260px;
    background-color: rgba(25, 27, 34, 0.25);

}
.profile__pictureSection{
    height: 195px;
    width: 195px;
    margin-top: -98px;
    position: relative;
    margin-left: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 1px #c7c7c7;
}
.edit__iconSection{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    box-shadow: 0 0 1px #c7c7c7;
    cursor: pointer;
}
.edit__iconSection--icon{
    height: 27px;
    width: 27px;
    color: #2A3B8F;
}
.edit__iconSection--banner{
    top: 15px;
    right: 15px;
}
.edit__iconSection--profilePicture{
    bottom: 33px;
    right: 0;
}
/* --- Hero Area CSS End --- */

/* --- Form Section CSS Start --- */
.formSection{
    padding: 50px 30px;
}
.formField__label{
    font-size: 18px;
    font-family: 'Crimson Roman', serif;

}
/* --- Form Section CSS End --- */

/* --- Footer CSS Start --- */
.footer__section{
    width: 100%;
    height: 18vh;
    background-color: #2A3B8F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.footer__section ul{
    display: flex;
    align-items: center;
}
.footer__section ul li{
    margin: 0 15px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
/* --- Footer CSS End --- */