/* --- Reset CSS Start --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- Reset CSS End --- */

/* --- Font Import Start --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
/* --- Font Import End --- */

/* --- General CSS Start --- */
.page__bg{
    background-color: #F7F6FB;
    padding: 2.5rem 0 3rem 0;
}
.body__section{
    background-color: #ffffff;
    box-shadow: 0 0 1px #c7c7c7;
    border-radius: 10px;
}
/* --- General CSS End --- */

/* --- Header CSS Start --- */
.header__section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
}
.header__section li{
    margin-left: 40px;
    font-size: 16px;
    color: #666666;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.user__loginName{
    color: crimson !important;
    display: flex;
    align-items: center;
    position: relative;
}
.user__loginName--icon{
    color: #1f1e1e;
    margin-right: 5px;
}
.user__loginName::after{
    content: "";
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #1f1e1e;
    left: -20px;
}
/* --- Header CSS End --- */


/* --- Hero Area CSS Start --- */
.heroArea__bannerSection{
    position: relative;
}
.heroArea__bannerSection--img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 260px;
    object-fit: cover;
}
.heroArea__overlay{
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 260px;
    background-color: rgba(25, 27, 34, 0.25);

}
.profile__pictureSection{
    height: 195px;
    width: 195px;
    margin-top: -98px;
    position: relative;
    margin-left: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 1px #c7c7c7;
    padding: 10px;
    
}
.profilePicture__image{
    border-radius: 50%;
    height: 195px;
    width: 195px;
}
.edit__iconSection{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    box-shadow: 0 0 1px #c7c7c7;
    cursor: pointer;
}
.edit__iconSection--icon{
    height: 27px;
    width: 27px;
    color: #2A3B8F;
}
.edit__iconSection--banner{
    top: 15px;
    right: 15px;
}
.edit__iconSection--profilePicture{
    bottom: 33px;
    right: 0;
}
/* --- Hero Area CSS End --- */

/* --- Form Section CSS Start --- */
.formSection{
    padding: 50px 30px;
}
.formField__label{
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    margin-bottom: 10px;

}
.formInput__field{
    margin-bottom: 20px !important;
}
.formInput__field--option{
    width: 100%;
}
.benefit__section--title{
    font-size: 20px;
    color: #F15A29;
    border-bottom: 1px solid #F15A29;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.add__benifit--btn {
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize !important;
    border-radius: 30px !important;
    border: 1px solid #C1C1C1 !important;
    color: #000000 !important;
}
.multiple__selection--section {
    display: grid !important;
    grid-template-columns: 31% 31% 31%;
    padding-top: 37px;
    gap: 26px;
}
.multipleSelection__items{
    border: 1px solid #C1C1C1 !important;
    background-color: transparent !important;
    border-radius: 30px !important;
    width: 100%;
}
.multipleSelection__items{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.multipleSelection__name{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 11px;
}
.multiple__selection--icons{
    margin-right: 10px;
}
.check__icon{
    height: 15px;
    width: 15px;
    border: 1px solid #666666;
    border-radius: 50%;
    display: flex ;
    justify-content: center;
    align-items: center;

}
.check__icon--white{
    font-size: 12px !important;
    color: #ffffff;
}
.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: #F77631 !important;
    color: #ffffff !important;
}

/* --- Form Section CSS End --- */

/* --- Modal Section CSS Start --- */
.modal__title{
    color: #2A3B8F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}
.add__benefits{
    padding: 15px;
    background-color: #F7F7F7;
    margin: 15px;
    border-radius: 5px;
}
.add__benefitsSection--title{
    color: #666666;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
}
.add__benefits--section{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}
.add__benefits--items{
    margin: 8px 8px 0 0 !important;
}
.css-enolmy-MuiButtonBase-root-MuiChip-root {
    background-color: #ffffff !important;
    border: 1px solid #464646 !important;
}
.css-enolmy-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
    color: #ffffff !important;
    background-color: #F15A29;
    border-radius: 50%;
    font-size: 18px !important;
}
.css-6od3lo-MuiChip-label {
    font-size: 16px;
    margin-right: 15px;
    color: #4D4F5C;
    font-family: 'Montserrat', sans-serif;
}
.benifitListSection{
    padding: 15px;
}
.benefitList__section--title{
    color: #F15A29;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Quando', serif;
}
.benifitList__area{
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 10px;
}
.benifitList__area ul li{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf4e8;
}
.titleAnd__icon{
    display: flex;
    align-items: center;
}
.titleSection{
    margin-left: 10px;
}
.benifit__icons{
    color: #F15A29;
}
.benefit__title{
 color: #F15A29;
 font-size: 16px;
 font-weight: 600;
 font-family: 'Montserrat', sans-serif;
 line-height: 30px;
}
.benefit__subTitle{
    color: #2A3B8F;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.action__btns{
    display: flex;
    align-items: center;
}
.action__btns li{
    color: #666666;
}
.befitList__addForm--section{
    margin: 5px;
    padding: 10px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    display: -webkit-inline-box;
   width: 100%;
}
.note__section{
    display: flex;
    justify-content: flex-end;
}
.note__section div {
    display: flex;
    flex-direction: column;
}
.note__section div note{
    font-size: 12px;
    color: #666666;
    line-height: 1px;
}
.note__section div Button{
    margin-top: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 30px;
}
.modal__btnSection{
    flex-direction: row !important;
}
.modal__btnSection Button{ 
    flex-direction: row !important;
    padding: 10px 30px !important;
    margin-left: 10px;
}
.modal__btn--paddingButton{ 
    padding: 10px 30px !important;
}
.back__btn{
    border: 1px solid #2D3E8B !important;
    color: #2D3E8B !important;
}
.save__btn{
    border: 1px solid #2D3E8B !important;
    color: #ffffff !important;
    background-color: #2D3E8B !important;
}
.gray__outline--btn{
    border: 1px solid #929292 !important;
    color: #929292 !important;
}
.save__btn--arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px !important;
}
.btn--arrow{
    background-color: #868EB5;
    border-radius: 100%;
    color: #ffffff;
    padding: 2px;
    margin-left: 20px;
}
/* --- Modal Section CSS End --- */

/* --- Footer CSS Start --- */
.footer__section{
    width: 100%;
    height: 18vh;
    background-color: #2A3B8F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.footer__section ul{
    display: flex;
    align-items: center;
}
.footer__section ul li{
    margin: 0 15px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
/* --- Footer CSS End --- */